<div class="container">
  <div class="row">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Team_icon_-_noun_project_20586.svg/1024px-Team_icon_-_noun_project_20586.svg.png"
            class="card-img"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Team Name</h5>
            <p class="card-text">
              This is where we would grab the description of the team from the
              database.
            </p>
            <button type="button" class="btn btn-primary" routerLink="/user-view-teams-details" routerLinkActive="active">Details...</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
