<div class="container">
  <h3>{{team.groupname}} - Current Members</h3>
  <div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Username</th>
        <th>Role</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1,001</td>
        <td>Lorem</td>
        <td>dolor</td>
        <td>sit</td>
        <td><button type="button" class="btn btn-success"  routerLink="/" routerLinkActive="active" >Edit Role</button> &nbsp;<button type="button" class="btn btn-danger">Remove from team</button> </td>
      </tr>
    </tbody>
  </table>
  <div class="add-button">
    <button type="button" class="btn btn-primary" routerLink="/manage-teams-view-members-add" routerLinkActive="active">Add new members</button>
  </div>
</div>

</div>