<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a id ="manage_users" class="nav-item nav-link active" (click) = "loadManageReset()">Dashboard</a>
          </li>
          <li  class="nav-item">
              <a id ="manage_users" class="nav-item nav-link" (click) = "loadManageReset(); loadManageUserComponent()">Manage Users</a>
          </li>
          <li class="nav-item">
            <a id ="manage_permissions" class="nav-item nav-link" (click) = "loadManageReset(); loadManagePermissionComponent()">Manage Permissions</a>
          </li>
          <li class="nav-item">
            <a id ="manage_roles" class="nav-item nav-link" (click) = "loadManageReset(); loadManageRolesComponent()">Manage Roles</a>
          </li>
          <li class="nav-item">
            <a id ="manage_teams" class="nav-item nav-link" (click) = "loadManageReset(); loadManageTeamsComponent()">Manage Teams</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
        </div>
      </div>
      <div *ngIf = 'loadComponentUsers'>
          <app-manage-users></app-manage-users>
      </div>
      <div *ngIf = 'loadComponentPermissions'>
        <app-manage-permissions></app-manage-permissions>
      </div>
      <div *ngIf = 'loadComponentRoles'>
        <app-manage-roles></app-manage-roles>
      </div>
      <div *ngIf = 'loadComponentTeams'>
        <app-manage-teams></app-manage-teams>
      </div>
    </main>
  </div>
</div>