
  <div class="form-content">
    <div class="container-wrapper container d-flex justify-content-center align-items-center login-spacing">
        <div class="form-wrapper text-center">
          <h2 class="text-center">Edit Team</h2>
          <form>
              <div class="form-group">
                <input type="hidden" class="form-control" id="id" name="id" placeholder="Enter ID">
              </div>
    
              <div class="form-group">
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name">
              </div>
    
              <div class="form-group">
                  <textarea class="form-control" id="description" name="description" placeholder="Enter Description" rows="3"></textarea>
              </div>

              &nbsp;&nbsp;

              <label>Status: &nbsp;</label>
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="active" name="status" value="true" checked>
                  <label class="form-check-label" for="active">Active</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="inactive" name="status" value="false">
                  <label class="form-check-label" for="inactive">Inactive</label>
                </div>
                <div class="add-button">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
      </div>
  
    </div>