h2 {
    color: #0B3C5D;
    margin-bottom: 1em;
}

.form-wrapper {
    min-width: 40%;
    margin-bottom: 10%;
    border: 2px solid #efefef;
    padding: 1em 2em;
}

.login-spacing{
    margin-top: 50px
}

small {
    color: red;
}