<div class="card mb-3" style="max-width: 100%;">
    <div class="row no-gutters" style="max-width: 50%;">
      <div class="col-md-4">
        <img src="https://cdn12.picryl.com/photo/2016/12/31/icon-people-person-people-a99fd0-1024.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Profile</h5>
          <ul class="list-group">
              <li class="list-group-item" aria-disabled="true">Name:</li>
              <li class="list-group-item">Gender</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary" routerLink="/user-edit-profile" routerLinkActive="active">Edit Profile</button>