<div class="container">
  <div>
    <h3>Search for users to add to {{team.groupname}}</h3>
  </div>
  <form>
    <div class="input-group input-group-lg mb-3">
      <input id="searchId" name="searchId" [(ngModel)] = "searchId" type="text" class="form-control" placeholder="Enter User ID" >
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit" (click)="searchUser(searchId)" >{{button_name}}</button>
      </div>
    </div>
  </form>
</div>

<div class="results" *ngIf="show_result">
    <div class="container">
        <h3>Search Results</h3>
        <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Username</th>
              <th>Role</th>
              <th>Operations</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users" >
              <td>{{user.id}}</td>
              <td>{{user.fname}} {{user.mname}} {{user.lname}}</td>
              <td>{{user.username}}</td>
              <td>
                  <div class="form-group">
                      <select class="form-control" (change)="changeSelectedRoleId($event.target.value)">
                        <option value="" selected disabled hidden>Please Select...</option>
                        <option *ngFor="let allRole of allRoles" [value]="allRole.id" >{{allRole.rolename}}</option>
                        <!-- <option value="{{allRole.id}}">{{allRole.rolename}}</option> -->
                      </select>
                    </div>
              </td>
              <td><button id="addButton" type="submit" class="btn btn-primary"  (click)="createJob(user.id, team.id)" routerLinkActive="active">Add to Team</button></td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
