<div class="container">
  <h3>#TEAMNAME</h3>
  <div class="row">
      <b>Description: </b>
      Te est sint magna labores, eu vix veri explicari efficiantur, duis consequuntur te mei. No cum omnium definiebas, nibh summo novum pro te. At noster aperiri vulputate per. Soleat meliore no per, eos consul admodum conclusionemque an. At postulant salutandi expetendis nam, mel omnis dolores ne. Ex etiam legere vel, ei doming integre iracundia vix. Et atqui audire elaboraret eam. Meis definiebas nam at. Mel ut graecis omittam appellantur, nam et nonumy probatus. Ut vivendo noluisse honestatis eam. Ei quaerendum scriptorem qui. Meis tractatos democritum no his, at vide laudem pertinacia mei. Has alii ceteros similique at.
  </div>
  <div class="row">
      <b>Role: </b> #ROLENAME
  </div>  
  
  <div class="row">
      <b>Role Description: </b> You do stuff
  </div>

  <div class="row">
    <div name="team_members">
      <b>Team Members:</b>
      <ul>
        <li>Osse</li>
        <li>Joe</li>
        <li>Nick</li>
        <li>Michael</li>
      </ul>
    </div>
  </div>
  
</div>